/*
Theme Name: Ratio Recruitment
Theme URI: https://ratiorecruitment.co.uk
Author: Rami Abdelal
Author URI: https://rgbwebsites.co.uk
Description: A bespoke theme created for Ratio Recruitment, an multinational digital recruitment and labour hire agency.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: responsive, rami, abdelal, eire, workforce, solutions, ratio, ratio recruitment, ratio digital, eire workforce solutions, recruitment, rgb websites, 
Text Domain: ratiorecruitment

*/

/* Reset */

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}audio,canvas,video{display:inline-block;*display:inline;*zoom:1}audio:not([controls]){display:none}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}html,button,input,select,textarea{font-family:Helvetica,Arial,sans-serif}body{margin:0}a:focus{outline:none}a:hover,a:active{outline:0}h1{font-size:2em;}h2{font-size:1.5em}h3{font-size:1.17em}h4{font-size:1em}h5{font-size:.83em}h6{font-size:.75em}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}mark{background:#ff0;color:#000}p,pre{}pre,code,kbd,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,q:after{content:'';content:none}small{font-size:75%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}nav ul,nav ol{list-style:none;list-style-image:none}img{border:0;-ms-interpolation-mode:bicubic}svg:not(:root){overflow:hidden}figure{margin:0}form{margin:0}fieldset{border:1px dotted #c0c0c0;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0px;white-space:normal;*margin-left:-7px}button,input,select,textarea{font-size:100%;margin:0px;vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal}button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;*overflow:visible;-webkit-tap-highlight-color:rgba(0,0,0,0);}button[disabled],input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0px;*height:13px;*width:13px}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}*{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin:0;
	padding: 0;
}

/* General */

html {
	
	overflow-y: auto;
	overflow-x: hidden;
	height: 100%;
	width: 100%;
	font-family: 'Rubrik', Segoe UI, Segoe, Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	color: #353c42;
	font-size: 16px;
	background-color: #dee7ea;
	
}

body {
    
	margin-top: 120px;
	height:auto;
	width: 100%;
    
}

.full {
    
    width: 1366px;
    padding: 60px 120px;
	position: relative;
	margin: 0 auto;
    
}

.large {
	
	padding: 0 !important;
	
}

.third {
	
	width: calc(100%/3);
	margin-right: 60px;
	
}

.third:nth-child(3n+0) {
	
	margin-right: 0;
	
}

.screen {
    
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    
}

.gradient.screen {
    
    background-color: rgba(0,0,0,.5);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b350873f', endColorstr='#b3f08218',GradientType=0 ); /* IE6-9 */
    background: -webkit-linear-gradient(left, rgba(41,171,225,0.7) 0%, rgba(240,90,35,0.7) 100%);
    background: -o-linear-gradient(left, rgba(41,171,225,0.7) 0%, rgba(240,90,35,0.7) 100%);
    background: linear-gradient(to right, rgba(41,171,225,0.7) 0%, rgba(240,90,35,0.7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29abe1', endColorstr='#f05a23',GradientType=1 );

}

.flex-container {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 60px;
    
}

.material {
    
    border-radius: 4px;
    background-color: #ffffff;
    position: relative;
    
}

.material-full {
    
    margin: 0 -60px 0 -60px;
    padding: 60px
    
}

.bar, .bar.light {

    background-color: #ffffff;
    
}

.bar.gradient {

    color: #ffffff;

}

.dark {
    
    background-color: #353c42;
    color: #ffffff;
    
}

.bar.download-timesheet {
	
	background-color: #29abe1;
    background: -webkit-linear-gradient(left, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    background: -o-linear-gradient(left, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    background: linear-gradient(to right, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29abe1', endColorstr='#f05a23',GradientType=1 );

} 

.social a.button:not(.wide-button) {
    
    background-color: #f7f7f7;
    color: #424242;
    
}

.bar.download-timesheet a:before, .bar.gradient a.button:not(.wide-button):before, .social a.button:not(.wide-button):before {

    opacity: 0;

}

.social a.button:not(.wide-button):hover {

    background-color: #424242;
    color: #f7f7f7;

} 

.bar.download-timesheet a:before:hover, .bar.gradient a.button:not(.wide-button):before:hover, .social a.button:not(.wide-button):before:hover {



}

.bar .full {
    
    padding: 30px 120px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
    
}

.title {
    
    background-color: #353c42;
    color: #ffffff;

}

.title .full {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.title span {
    
    font-size: 90px;
    
}

.large .full {
    
    padding: 120px;
    
}

.gradient-forward {
    
    background: rgb(82,135,53); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(82,135,53,1) 0%, rgba(240,130,24,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(82,135,53,1) 0%,rgba(240,130,24,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(82,135,53,1) 0%,rgba(240,130,24,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#528735', endColorstr='#f08218',GradientType=1 ); /* IE6-9 */
    
}

/* Hamburger */


.hamburger {

    padding: 0;

    padding-top: 5px;

    display: inline-block;

    cursor: pointer;

    transition-property: opacity, filter;

    transition-duration: 0.15s;

    transition-timing-function: linear;

    font: inherit;

    color: inherit;

    text-transform: none;

    background-color: transparent;

    border: 0;

    margin: 0;

    overflow: visible;

	outline: none;
	
}

  .hamburger:hover {

    opacity: 0.7; }



.hamburger-box {

  width: auto;

  height: 24px;

  display: inline-block;

  position: relative; }



.hamburger-inner {

  display: block;

  top: 50%;

  margin-top: -2px; }

  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {

    width: 30px;

    height: 4px;

    background-color: #353c42;

    border-radius: 4px;

    position: absolute;

    transition-property: transform;

    transition-duration: 0.15s;

    transition-timing-function: ease; }

  .hamburger-inner::before, .hamburger-inner::after {

    content: "";

    display: block; }

  .hamburger-inner::before {

    top: -10px; }

  .hamburger-inner::after {

    bottom: -10px; }

.hamburger--spring .hamburger-inner {

  top: 2px;

  transition: background-color 0s 0.13s linear; }

  .hamburger--spring .hamburger-inner::before {

    top: 10px;

    transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

  .hamburger--spring .hamburger-inner::after {

    top: 20px;

    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }



.hamburger--spring.is-active .hamburger-inner {

  transition-delay: 0.22s;

  background-color: transparent; }

  .hamburger--spring.is-active .hamburger-inner::before {

    top: 0;

    transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);

    transform: translate3d(0, 10px, 0) rotate(45deg); }

  .hamburger--spring.is-active .hamburger-inner::after {

    top: 0;

    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);

    transform: translate3d(0, 10px, 0) rotate(-45deg); }

/* Type */

h1, h2, h3, h4, h5, h6 {

    font-family: 'Rubrik', Segoe UI, Segoe, Helvetica, Arial, sans-serif;
    font-weight: normal;

}

a {

    font-family: 'Rubrik';

}

h1 {
    
    font-size: 50px;
    
}

h2 {
    
    font-size: 40px;
    font-weight: bold;
    
}

h3 {
    
    font-size: 32px;
    
}

h4 {
    
    font-size: 26px;
    
}

h5 {
    
    font-size: 22px;
    
}

h6 {
    
    font-size: 18px;

}

p {
    
    font-size: 16px;
    line-height: 1.5;
    
}

ul.bullet-list {
	
	margin-left: 20px;
	
}

ul.bullet-list li {
	
	line-height: 2;
	
}

a, input {
	
	text-decoration: none;
	transition: all .2s ease-in-out, transform 1s cubic-bezier(.02,.76,0,.98), opacity .6s ease-in-out;
	
}

.button:not(.wide-button) {
    
    color: #ffffff;
    font-size: 20px;
    padding: 20px 1.75em;
    border-radius: 1.75em;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    background: transparent;
    position: relative;
    z-index: 1;
    
}

.button:not(.wide-button):before {

    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 1.75em;
    background: -webkit-linear-gradient(left, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    background: -o-linear-gradient(left, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    background: linear-gradient(to right, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29abe1', endColorstr='#f05a23',GradientType=1 );
    z-index: -1;
    text-shadow: 0px 2px 3px rgba(0,0,0,0);

}

.gradient .button:not(.wide-button):before {

    display: none;

}

.gradient .button:not(.wide-button) {

    background: #353c42;
    color: #ffffff;

}

.gradient .button:not(.wide-button):hover {

    color: #353c42;
    background-color: #ffffff;


}

.button:not(.wide-button):hover:before {
    

}

.button:not(.wide-button):hover {

    transform: scale(1.25);

}

.button:not(.wide-button) span {

    transform: rotate(0deg);
    transition: all .2s ease-in-out, transform .66s cubic-bezier(.02,.76,0,.98), opacity .6s ease-in-out

}


.button:not(.wide-button):hover span {

    transform: rotate(360deg);

}

.button.dark {

    background: #424242;
    color: #f7f7f7;

}

.button.dark:hover {

    background: #f7f7f7;
    color: #424242;

}

.bar .button {
    
	margin-left: 30px;
    
}

.bar h3 {
    
    font-size: 20px;
    
}

.button span {
    
    font-size: 25px;
    margin-left: -12px;
    margin-right: 15px;
    
}

.wide-button {
    
    background-color: #353c42;
    color: #ffffff;
    font-size: 20px;
    padding: 0 1.75em;
    height: 60px;
    line-height: 60px;
    padding-left: 60px;
    position: absolute;
    border-radius: 0 0 4px 4px;
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    
}

.wide-button:hover {

    border-radius: 1.75em;
    transform: scale(1.1);
    background-color: #f05a23;

}

@font-face {
	font-family: 'DINPro';
	src: url('font/DINPro-Bold.eot');
	src: url('font/DINPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('font/DINPro-Bold.woff') format('woff'),
		url('font/DINPro-Bold.ttf') format('truetype'),
		url('font/DINPro-Bold.svg#DINPro-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'DINPro';
	src: url('font/DINPro-Light.eot');
	src: url('font/DINPro-Light.eot?#iefix') format('embedded-opentype'),
		url('font/DINPro-Light.woff') format('woff'),
		url('font/DINPro-Light.ttf') format('truetype'),
		url('font/DINPro-Light.svg#DINPro-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'DINPro';
	src: url('font/DINPro-Regular.eot');
	src: url('font/DINPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('font/DINPro-Regular.woff') format('woff'),
		url('font/DINPro-Regular.ttf') format('truetype'),
		url('font/DINPro-Regular.svg#DINPro-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DINPro';
	src: url('font/DINPro-Medium.eot');
	src: url('font/DINPro-Medium.eot?#iefix') format('embedded-opentype'),
		url('font/DINPro-Medium.woff') format('woff'),
		url('font/DINPro-Medium.ttf') format('truetype'),
		url('font/DINPro-Medium.svg#DINPro-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'DINPro';
	src: url('font/DINPro-Black.eot');
	src: url('font/DINPro-Black.eot?#iefix') format('embedded-opentype'),
		url('font/DINPro-Black.woff') format('woff'),
		url('font/DINPro-Black.ttf') format('truetype'),
		url('font/DINPro-Black.svg#DINPro-Black') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
    font-family: 'Moon 2.0';
    src: url('font/moon2.0-bold-webfont.woff2') format('woff2'),
         url('font/moon2.0-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'Moon 2.0';
    src: url('font/moon2.0-regular-webfont.woff2') format('woff2'),
         url('font/moon2.0-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'Moon 2.0';
    src: url('font/moon2.0-light-webfont.woff2') format('woff2'),
         url('font/moon2.0-light-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;

}

@font-face {
    font-family: 'Rubrik';
    src: url('font/rubrik_italic-webfont.woff2') format('woff2'),
         url('font/rubrik_italic-webfont.woff') format('woff');
    font-weight: 400;
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'Rubrik';
    src: url('font/rubrik_semibold_italic-webfont.woff2') format('woff2'),
         url('font/rubrik_semibold_italic-webfont.woff') format('woff');
    font-weight: 600;
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'Rubrik';
    src: url('font/rubrik_semibold-webfont.woff2') format('woff2'),
         url('font/rubrik_semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Rubrik';
    src: url('font/rubrik-webfont.woff2') format('woff2'),
         url('font/rubrik-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'icomoon';
    src:  url('font/icomoon.eot?5ofyq0');
    src:  url('font/icomoon.eot?5ofyq0#iefix') format('embedded-opentype'),
      url('font/icomoon.ttf?5ofyq0') format('truetype'),
      url('font/icomoon.woff?5ofyq0') format('woff'),
      url('font/icomoon.svg?5ofyq0#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

[class^="icon-"], [class*=" icon-"],
/* Learn */
.menu-item-39 > a:before,
/* About */
.menu-item-38 a:after,
.menu-item-31 a:before,
.menu-item-30 a:before,
/* Careers */
.menu-item-34 a:before,
.menu-item-26 a:before,
/* Clients */
.menu-item-36 > a:before,
.menu-item-28 > a:before,
/* Contact Us */
.menu-item-33 > a:before,
.menu-item-25 > a:before,
/* Services */
.menu-item-29 > a:before,
.menu-item-37 > a:after,
/* Sectors */
.menu-item-40 > a:after,
.menu-item-32 > a:before,
/* Timesheets */
.menu-item-201 > a:before,
.menu-item-202 > a:before,
/* Trades & Labour */
.menu-item-35 > a:before,
.menu-item-27 > a:before
{
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-timesheet:before,
.menu-item-201 a:before,
.menu-item-202 a:before {
  content: "\e912";
}
.icon-ratio:before,
.menu-item-31 a:before {
  content: "\e902";
}
.icon-about:before, 
.menu-item-39 > a:before, 
.menu-item-38 > a:after,
.menu-item-30 > a:before
{
  content: "\e900";
}
.icon-careers:before,
.menu-item-34 a:before,
.menu-item-26 a:before
{
  content: "\e901";
}
.icon-clients:before,
.menu-item-36 > a:before,
.menu-item-28 > a:before
{
  content: "\e903";
}
.icon-contact-us:before,
.menu-item-33 > a:before,
.menu-item-25 > a:before
{
  content: "\e904";
}
.icon-sectors:before,
.menu-item-40 > a:after,
.menu-item-32 > a:before
{
  content: "\e905";
}
.icon-team:before {
  content: "\e906";
}
.icon-trades-labour:before,
.menu-item-35 > a:before,
.menu-item-27 > a:before
{
  content: "\e907";
}
.icon-facebook:before {
  content: "\e908";
}
.icon-linkedin:before {
  content: "\e909";
}
.icon-tick:before {
  content: "\e90a";
}
.icon-send:before {
  content: "\e90b";
}
.icon-envelope:before {
  content: "\e90c";
}
.icon-download:before {
  content: "\e90d";
}
.icon-link:before {
  content: "\e90e";
}
.icon-phone:before {
  content: "\e90f";
}
.icon-services:before,
.menu-item-37 > a:after,
.menu-item-29 > a:before
{
  content: "\e910";
}
.icon-car:before {
  content: "\e911";
}

/* Navigation */

nav {
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
	height: 120px;
	background: #ffffff;
	border-bottom: 1px solid rgba(53,53,53, .1);
    transform: translateY(0);
	transition: all .2s ease-in-out, transform 1s cubic-bezier(.02,.76,0,.98), opacity .6s ease-in-out;
    
}

nav h6 {
	
	display: inline-block;
	margin-top: -7px;
	font-weight: 900;
    line-height: 1;
    display: none;
	
}



nav .full {
	
	padding: 0 120px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
}

.mobile.nav-hidden nav {
    
    transform: translateY(-100%);
    
} 

nav img {
	
	height: 60px;
	width: auto;
	margin-top: 0;
	margin-right: 15px;
    transition: all .2s ease-in-out, transform 1s cubic-bezier(.02,.76,0,.98), opacity .6s ease-in-out;
    
}

.logo {
	
	display: flex;
    flex-direction: row;
    align-items: center;
	color: #353c42;
	
}

nav .menu {
	
	
	
}

nav ul {
	
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
}

nav ul li {
    
	position: relative;
	height: 120px;
    transition: all .2s ease-in-out, transform 1s cubic-bezier(.02,.76,0,.98), opacity .6s ease-in-out;
    
}

nav ul li a:before {
	
	font-size: 30px;
	margin-bottom: 7px;
    transition: all .2s ease-in-out, transform 1s cubic-bezier(.02,.76,0,.98), opacity .6s ease-in-out;
	
}

nav ul li.menu-item-has-children > a {
	
	padding-right: 45px;
	
}

nav ul li.menu-item-has-children > a:after {
    
    content: '▼';
    font-size: 12px;
    margin-left: 10px;
	position: absolute;
    margin-top: 3px;
    right: 25px;
    bottom: 33px;
    transition: all .2s ease-in-out;
    
}

nav ul li.menu-item-has-children > a:before {
    
    /*font-size: 25px;*/
	
}

nav ul li a {
	
	padding: 0 15px;
	height: 100%;
	width: 100%;
    color: #353c42;
    font-weight: bold;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    transition: all .2s ease-in-out, transform 1s cubic-bezier(.02,.76,0,.98), opacity .6s ease-in-out;

}

nav ul li a:before {

    color: #353c42;
    transition: all .2s ease-in-out, transform 1s cubic-bezier(.02,.76,0,.98), opacity .6s ease-in-out;

}

nav ul li a:hover {
	
	color: #29abe1;
	
}

nav ul li a:hover:before {

	color: #29abe1;

}

nav .sub-menu {
	
	opacity: 0;
    background-color: #f7f7f7;
    color: #353c42;
    position: absolute;
    width: 190px;
    left: -15px;
    top: 120px;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 2px 3px rgba(0,0,0,.2);
    z-index: 1;
    display: flex;
    flex-direction: column;
    transform-origin: top;
	transform: scale(0.5,0.1);
	transition: all .2s ease-in-out, transform 1s cubic-bezier(.02,.76,0,.98), opacity .6s ease-in-out;
	
}

nav ul.sub-menu li {
    
    height: 60px;
	
}

nav .sub-menu li a {
    
    display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
    height: 100%;
    line-height: 60px;
    padding: 0 30px 0 30px;
    opacity: 0;
    color: #353c42;
    
}

nav .sub-menu li a:hover {
    
    background-color: #353c42;
    color: #f7f7f7;
	
}


nav ul li.menu-item-has-children:hover .sub-menu {
	
	opacity: 1;
	transform: scale(1,1);
	
}

nav ul li.menu-item-has-children:hover .sub-menu a {
    
    opacity: 1;
    
}

nav ul.sub-menu li:not(:last-child) a {
    
    border-bottom: 1px rgba(0,0,0,.06) solid;
    
}

nav .sub-menu a:after {
	
	font-size: 20px;
	
}

.slim nav {
    
    
}

.slim nav, .slim nav ul:not(.sub-menu) li {
    
    height: 60px;
    
}

.slim nav ul:not(.sub-menu) li a {
    
    height: 87%;
    
}

.slim nav ul.sub-menu li a {
    
    height: 100%;
    
}

.slim nav a:before {
    
    font-size: 0;
    
}

.slim nav img {
    
    height: 30px;
    margin-top: 0;
    
}

.slim nav .sub-menu {
    
    top: 60px;
    
}

.slim nav ul li.menu-item-has-children > a:after {
    
    bottom: 22px;
    
}

aside {
	
	width: 100%;
	height: calc(100% - 60px);
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 3;
	top: 60px;
    right: 0;
    left: 0;
    bottom: 0;
	background-color: #dee7ea;
	overflow-y: scroll;
	transform-origin: top right 120px;
	transition: all .2s ease-in-out, transform 1s cubic-bezier(.02,.76,0,.98), opacity .6s ease-in-out;
	
}

aside.menu {
    
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    
}

.closed aside {
	
	transform: scale(0);
	opacity: 0;
	background-color: rgba(224, 226, 223, 0);
	border-radius: 100%;
	
}

.open aside {
	
	transform: scale(1);
	opacity: 1;
	background-color: rgba(221, 231, 234,.95);
	border-radius: 0;
	transition: all .2s ease-in-out, transform 1s cubic-bezier(.02,.76,0,.98), opacity .6s ease-in-out;

}

aside li {
	
	list-style: none;
	
}

aside li.current-menu-item, footer li.current-menu-item {
    
    opacity: 0.3;
    
}

aside a {
	
    font-size: 20px;
    line-height: 1.25;
    margin-bottom: 5px;
    border-radius: 1.7em;
    color: #353c42;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #ffffff;
    padding: 12px 1.7em;
    position: relative;
    z-index: 1;
	
}

aside a:after {

    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 1.7em;
    background: -webkit-linear-gradient(left, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    background: -o-linear-gradient(left, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    background: linear-gradient(to right, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29abe1', endColorstr='#f05a23',GradientType=1 );
    z-index: -1;
	transition: all .2s ease-in-out;
    opacity: 0;
    
}

aside a:hover {

    color: #ffffff;

}

aside a:hover:after {

    opacity: 1;

}

aside li:last-of-type a {
	
	margin-bottom: 0;
	
}

aside a:before {
	
	width: 66px;
	font-size: 30px;
	
}

aside a:focus, aside a:active {
	
	background-color: #353c42;
    color: #ffffff;

}

.mobile .menu-main-menu-container {
	
	display: none;
	
}

.mobile nav {
	
	height: 60px;
	
}

/* Footer */

footer {
	
	background: #353c42;
	color: #ffffff;
	
}

footer .menu-footer-menu-container {
	
	margin-left: -60px;
	margin-right: -60px;
	margin-top: 40px;
	
}

footer .menu-footer-menu-container ul {
	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	
}

footer .menu-footer-menu-container ul li {
	
	width: calc((100% - 10px)/3);
	height: 120px;
	list-style: none;
	margin-bottom: 5px;
    position: relative;
    opacity: 1;
	transform: translateX(0%);
	transition: all .2s ease-in-out, transform 1s cubic-bezier(.02,.76,0,.98), opacity .6s ease-in-out;
}

footer .menu-footer-menu-container ul li.in-view {

	opacity: 1;
	transform: translateX(0);
	
}

footer .menu-footer-menu-container ul li a {
	
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,.05);
	line-height: 1.3;
	padding: 0 60px 0 145px;
	color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    position: relative;
    z-index: 1;
	
}

footer .menu-footer-menu-container ul li a:hover {

    background-color: #f7f7f7;
    color: #3f3f3f;

}

/*

footer .menu-footer-menu-container ul li a:after {

    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    border-radius: 0;
    background: -webkit-linear-gradient(left, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    background: -o-linear-gradient(left, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    background: linear-gradient(to right, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29abe1', endColorstr='#f05a23',GradientType=1 );
    z-index: -1;
    text-shadow: 0px 2px 3px rgba(0,0,0,0);
	transition: all .2s ease-in-out, transform 1s cubic-bezier(.02,.76,0,.98), opacity .6s ease-in-out;
    
}
*/

footer .menu-footer-menu-container ul li a:hover:after {
	
    opacity: 1;

}

footer .menu-footer-menu-container ul li a:before {
    
    font-size: 40px;
    position: absolute;
    top: 40px;
    left: 60px;
    
}

footer .menu-footer-menu-container ul li.menu-item-31 a:before {
    
    font-size: 40px;
    top: 40px;
    left: 60px;
    
}

footer .menu-footer-menu-container ul li.menu-item-28 a:before {

    font-size: 32px;

}

footer .credentials {
	
	background-color: rgba(0,0,0,.3);
	color: rgba(255,255,255,.6);
    height: auto;
	
}

footer .credentials .full {
	
	padding-top: 23px;
    padding-bottom: 21px;
	
}

footer .credentials p {
    
	line-height: 1;
    
}

/* Home */

#hero-image {
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top 25% center;
    height: 500px;
    color: #ffffff;
    text-align: center;
    
}

#hero-image .full {
    
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

#hero-image h1 {
    
    margin-bottom: 10px;
    font-weight: bold;
    
}

#hero-image h2 {
    
    font-size: 30px;
    font-weight: normal;
    
}

#hero-image a.button {
    
    margin-top: 30px;
    
}

.form-advert {
    
    width: 50%;
    margin-right: 30px;
    padding-bottom: 120px;
    position: relative;
    
}

.form-advert:nth-child(even) {
    
    margin-right: 0;
    margin-left: 30px;
    
}

.form-advert h2 {
    
    font-size: 32px;
    margin-left: 60px;
    margin-top: 60px;
    padding-right: 135px;
    font-weight: bold;

}

.form-advert h3 {
    
    font-size: 20px;
    margin-left: 60px;
    margin-top: 20px;
    padding-right: 120px;
    opacity: .66;
    
}

.form-advert span {
    
    position: absolute;
    top: 60px;
    right: 60px;
    font-size: 50px;

}

.form-advert span.icon-trades-labour {
    
    font-size: 55px;
    
}

.sectors-advert {
    
    background-color: #353c42;
    color: #ffffff;
    text-align: right;
    position: relative;
    /*background-color: #29abe1;*/
    
}

.sectors-advert span {
    
    font-size: 95px;
    position: absolute;
    left: 120px;
    top: 60px;
    
}

.sectors-advert h3 {
    
    font-size: 20px;
    margin-top: 15px;
    opacity: .6;

}

.sector.third {
    
    width: calc(100% / 3);
    margin-right: 60px;
    height: 240px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.sector.third, .offices .third {
    
    opacity: 0;
    transform: translateX(-20%);
    transition: all 1s cubic-bezier(.02,.76,0,.98);
    

}

.sector.third.in-view, .offices .third.in-view {
    
    opacity: 1;
    transform: translateX(0);
    
}

.sector.third.in-view:nth-child(2n+0), .offices .third.in-view:nth-child(2n+0) {
    
    transition: all 1s .05s cubic-bezier(.02,.76,0,.98);
    
}

.sector.third.in-view:nth-child(3n+0), .offices .third.in-view:nth-child(3n+0) {
    
    transition: all 1s .1s cubic-bezier(.02,.76,0,.98);
    
}

.sector.third:nth-child(3n+0) {
    
    margin-right: 0;
    
}

.sector.third a {
    
    width: 100%;
    height: 100%;
    border-radius: 4px;
    color: #ffffff;
    font-size: 20px;
    padding: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
	transition: all .2s ease-in-out;
    position: relative;
    
}

.sector.third a:before {

    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 4px;
    background: -webkit-linear-gradient(left, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    background: -o-linear-gradient(left, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    background: linear-gradient(to right, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29abe1', endColorstr='#f05a23',GradientType=1 );
    z-index: -1;
	transition: all .2s ease-in-out;
    opacity: 0;

}

.sector.third a:hover:before {

    opacity: .75;

}

.scrim {
    
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#bf000000',GradientType=0 ); /* IE6-9 */    
}

.services-advert {
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #ffffff;
    
}

.services-advert .full {
    
    padding: 120px;
    
}

.services-advert h3, .careers-advert h3 {
    
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    opacity: .75;
    
}

.services-advert p, .careers-advert p {
    
    width: 50%;
    
}

.services-advert a, .careers-advert a {
    
    margin-top: 45px;
    
}

.careers-advert {
    
    padding: 60px 0;
    text-align: right;
    
}

.careers-advert p {
    
    margin-left: 50%;
    
}

.careers-advert h2 {
	
	padding-left: 315px;
	
}

.careers-advert span.icon-car {
    
    position: absolute;
    top: 150px;
    left: 120px;
    font-size: 80px;
    
}

/* Services */

.services-links {
    
    background: -webkit-linear-gradient(left, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    background: -o-linear-gradient(left, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    background: linear-gradient(to right, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29abe1', endColorstr='#f05a23',GradientType=1 );
    color: #ffffff;
    
}

.services-links .full,
.services-effective .full {
    
    padding-right: 20% !important;
    
}

.services-links span {
    
    font-size: 100px;
    top: 120px;
    right: 120px;
    position: absolute;
    display: inline-block;
    color: #ffffff;

}

.services-links p {
    
    margin-top: 20px
    
}

.wide-article {
    
    background-color: #ffffff;
    
}

.wide-article .full {
    
    padding: 120px;
    padding-right: 20%;
    
}

.wide-article h4 {
    
    font-size: 24px;
    margin-bottom: 45px;
    
}

.material h6,
.wide-article h6 {
	
	opacity: .66;
	
}

.services-effective {
    
    background-color: #29abe1;
    color: #ffffff;
    overflow: hidden;
    background: -webkit-linear-gradient(left, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    background: -o-linear-gradient(left, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    background: linear-gradient(to right, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29abe1', endColorstr='#f05a23',GradientType=1 );
    
}

.services-effective span {
    
    font-size: 100px;
    position: absolute;
    bottom: -10px;
    right: 120px;
    
}

.services-effective h2 {
    
    margin-bottom: 15px;
    
}

.services-effective h3 {
    
    font-size: 20px;
    padding-right: 30%;
    
}

.services-admin {
    
    color: #ffffff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom 33% center;
    
}

.services-admin .full {
    
    padding: 120px;
    
}

.services-admin h2, .services-clients-advert h2 {
    
    font-size: 36px;
    margin-bottom: 20px;
    
}

.services-admin h3, .services-clients-advert h3 {
    
    font-size: 20px;
    
}

.services-clients-advert {
    
    background-color: #29abe1;   
    color: #ffffff;
    overflow: hidden;    
    background: -webkit-linear-gradient(left, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    background: -o-linear-gradient(left, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    background: linear-gradient(to right, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29abe1', endColorstr='#f05a23',GradientType=1 );



}

.services-clients-advert a.button {
    
    margin-top: 30px;
    
}

.services-clients-advert span {
    
    font-size: 170px;
    position: absolute;
    bottom: -10px;
    right: 120px;
    
}

/* Sectors */

.sectors-archive .full.flex-container {
	
	padding: 60px 60px 0 60px;
	flex-direction: column;
	
}

#main:not(.home) .sector {
	
	margin-bottom: 60px;
	
}

.sector:not(.third) {
    
    padding: 60px calc(50% + 60px) 120px 60px;
    opacity: 0;
    transform: translateX(-20%);
    transition: all .2s ease-in-out, transform 1s cubic-bezier(.02,.76,0,.98), opacity .6s ease-in-out;
    
}

.sector.in-view:not(.third) {
    
    opacity: 1;
    transform: translateX(0);
    
}

.sector h2 {
	
	margin-bottom: 20px;
	font-size: 36px;
	
}

.sector h3 {
	

	margin-bottom: 120px;
	color: #a4a4a4;
	font-size: 20px;
	font-weight: 500;
	
}

.half-image {
	
	height: 100%;
	width: 50%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	border-radius: 0 4px 4px 0;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	
}

.sector-single .more-sectors {
	
    background-color: #29abe1;
    background: -webkit-linear-gradient(left, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    background: -o-linear-gradient(left, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    background: linear-gradient(to right, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29abe1', endColorstr='#f05a23',GradientType=1 );
	
}

.sector-single .more-sectors a {
	
	background-color: #353c42 !important;
	color: #ffffff !important;
	
}

.sector-single .more-sectors a:hover {
	
	color: #353c42 !important;
	background-color: #ffffff !important;
	
}

.sector-single .title {
	
    background-color: transparent;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 360px;
	
}

.sector-single .title .scrim {
	
	display: flex;
	justify-content: center;
	align-items: flex-start;
	
	
}

.sector-single .title .full {
	
	align-self: flex-end;
	
}

/* About */

.international-image {
    
    height: 700px;
    background-size: cover;
    background-repeat: repeat-x;
    background-position: -70px center;
    color: #ffffff;
    
}

.international-image .full {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    
}

.international-image h2 {
    
    font-size: 50px;
    
}

.international-image h3 {
    
    margin-top: 15px;
    font-size: 20px;
    
}

.team {
	
	background-color: #29abe1;
	color: #ffffff;
    background: -webkit-linear-gradient(left, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    background: -o-linear-gradient(left, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    background: linear-gradient(to right, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29abe1', endColorstr='#f05a23',GradientType=1 );

}

.team span {
	
	position: absolute;
	top: 85px;
    font-size: 150px;
    right: 120px;

}

.team .full {
	
	padding: 120px;
	
}

.team h3 {
	
	font-size: 20px;
	margin-top: 15px;
	
}

.about-introduction {
	
	padding-right: calc(50% + 120px);
	
}

.about-introduction h2 {
	
	font-size: 24px;
	margin-bottom: 30px;
	
}

/* Contact Us */

.contact .title {
	
	display: none;
	
}

div.contact-phone {
	
	background-color: #353c42;
	color: #ffffff;
	
}

.contact-phone .full,
.contact-email .full,
.send-message .full,
.send-timesheet .full {
    
    padding-right: 20% !important;
    
}

div.contact-phone span,
div.contact-email span,
.send-message span {
	
	font-size: 100px;
    position: absolute;
    top: 60px;
    right: 120px;

}

.send-message span,
.send-timesheet span {
    
    color: #ffffff;
    
}

div.contact-phone h2, div.contact-email h2 {
	
	font-size: 50px;
	
}

div.contact-phone h3, div.contact-email h3 {
	
	font-size: 20px;
	margin-top: 10px;
	
}

div.contact-email {
	
	background-color: #ffffff;;
	
}

.offices .third {
	
	padding: 60px;
	padding-bottom: 90px;
	
}

.offices .third h3 {
	
	font-size: 30px;
	margin-bottom: 20px;
	
}

.offices .third h4 {
	
	font-size: 20px;
	margin-top: 20px;
}

span.address-line {
	
	display: block;
	line-height: 1.5;
	
}

.send-message {
	
	background-color: #29abe1;
    color: #ffffff;
    background: -webkit-linear-gradient(left, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    background: -o-linear-gradient(left, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    background: linear-gradient(to right, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29abe1', endColorstr='#f05a23',GradientType=1 );
	
}

.send-message h3,
.send-timesheet h3 {
	
	font-size: 20px;
	margin-top: 10px;
	
}

.send-message h3.in-view, 
.send-timesheet h3.in-view {

    opacity: .7;

}

.send-message span,
.send-timesheet span {
	
	position: absolute;
	top: 50px;
	right: 120px;
	font-size: 100px;
	
}

.send-timesheet {
	
	background-color: #353c42;
	background-color: #29abe1;
    color: #ffffff;
    background: -webkit-linear-gradient(left, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    background: -o-linear-gradient(left, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    background: linear-gradient(to right, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29abe1', endColorstr='#f05a23',GradientType=1 );

}

.overlay {
	
   background:transparent; 
   position:relative; 
   height:480px;
   top:480px;
   margin-top:-480px;
	
}

.social {
	
	display: flex;
	flex-direction: row;
	overflow: hidden;
	
}

.social .half {
	
	width: 50%;
	display: flex;
	position: relative;
	
}

.social .half:nth-child(odd) {
	
	justify-content: flex-end;
	
}

.social .half:nth-child(even) {
	
	justify-content: flex-start;
	
}

.social .half .container {
	
	color: #ffffff;
	padding: 60px 60px 60px 120px;
	width: calc(1366px / 2);
	
}

.social .half:nth-child(even) .container {
	
	padding: 60px 120px 60px 60px;
	
}

.social .half .container span {
	
	font-size: 120px;
	position: absolute;
	bottom: 0;
	
}

.social .linkedin.half .container span {
	
	bottom: -3px;
	
}

.social .half:nth-child(odd) .container span {
	
	right: 60px;
	
}

.social .half:nth-child(even) .container span {
	
	left : 60px;	
}

.social .half:nth-child(even) .container {
	
	text-align: right;
	
}

.facebook {
	
	background-color: #3b5998;
	
}

.facebook a.button {
	
	color: #3b5998 !important;
	background-color: #ffffff !important;
	
}

.social .facebook.half:nth-child(odd) .container span {
	
	right: 30px;
	
}

.linkedin {
	
	background-color: #0077b5;
	
}

.linkedin a.button {
	
	color: #0077b5 !important;
	background-color: #ffffff !important;
	
}

.social .half a.button:hover {
	
	background-color: #353c42 !important;
	color: #ffffff !important;
}

.social h2 {
	
	font-size: 30px;
	margin-bottom: 30px;
	
}

/* Forms */

.full .form {
	
    position: relative;
	margin-left: -60px;
    margin-right: -60px;
    padding: 60px 0 150px 0;
	opacity: 0;
	transform: translateX(-20%);
    transition: all .2s ease-in-out, transform 1s cubic-bezier(.02,.76,0,.98), opacity .6s ease-in-out;
	
}


.full .form.in-view {
	
	opacity: 1;
	transform: translateX(0);
	
}

.gform_body {
    
    padding: 0 60px;
    
}

.form li {
    
    list-style: none;
    display: inline-block;
    
}

.gfield {
    
    width: calc(50% - 15px);
    margin-bottom: 30px;
    
}

.gfield:nth-child(odd) {
    
    margin-right: 15px !important;
    margin-left: 0 !important;
    
}

.gfield:nth-child(even) {
    
    margin-left: 15px !important;
    margin-right: 0 !important;
    
}

.gfield:last-of-type:nth-child(odd) {

    width: 100%;
    margin-right: 0 !important;

}

.gfield.trades-ni-number,
.gfield.trades-pps
{
    
    margin-right: 15px !important;
    margin-left: 0 !important;
    
}

.gfield.trades-utr,
.gfield.trades-p45-number
{
    
    margin-left: 15px !important;
    margin-right: 0 !important;
    
}

input:not([type="submit"]):not([type="button"]), textarea, select { 

    width: 100%;
    height: 60px;
    padding-bottom: 15px;
    margin-top: 15px;
    line-height: 1.5;
    font-size: 24px;
    font-family: 'Rubrik';
    background-color: transparent;
    outline: 0;
    border: none;
    border-bottom: 3px solid #8ba5ab;
	transition: all .2s ease-in-out, transform 1s cubic-bezier(.02,.76,0,.98), opacity .6s ease-in-out;

}

input.LV_valid_field:not([type="submit"]):not([type="button"]), textarea.LV_valid_field, select.LV_valid_field { 

    border-bottom: 3px solid #29abe1;

}

textarea {
    
    height: 230px;
    width: 100% !important;
    
}

input:not([type="submit"])::-webkit-input-placeholder, textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #8ba5ab;
}
input:not([type="submit"])::-moz-placeholder, textarea::-moz-placeholder { /* Firefox 19+ */
  color: #8ba5ab;
}
input:not([type="submit"]):-ms-input-placeholder, textarea:-ms-input-placeholder { /* IE 10+ */
  color: #8ba5ab;
}
input:not([type="submit"]):-moz-placeholder, textarea:-moz-placeholder { /* Firefox 18- */
  color: #8ba5ab;
}

.form input[type="submit"], .form input[type="button"] {
    
    outline: 0;
    border: none;
    border-radius: 0 0 4px 4px;
    font-family: 'Rubrik';
    font-size: 20px;
    position: absolute;
    width: 100%;
    height: 90px;
    line-height: 90px;
    bottom: 0;
    left: 0;
    justify-content: flex-start;
    padding: 0 60px;
    transform: scale(1);
    background-color: #353c42;
    
}

.form input[type="submit"]:hover, .form input[type="button"]:hover {

    transform: scale(1.05);
    border-radius: 90px !important;
    background-color: #f05a23;

}

select {
    
    color: #8ba5ab;

}

select.selected {
    
    color: #353c42;
    
}

option:not(first-of-type) {
    
    color: #353c42;
    
}

.clients-works:first-of-type {
	
	margin-bottom: 60px !important;
	
}

.form label {
    
    font-family: 'Rubrik';
    font-weight: bold;
    color: #353c42;
    
}

.form ul {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

div.validation_error {
    
    display: none;
    
}

div.gfield_description.validation_message {
    
    line-height: 1.5;
    margin-top: 15px;
    color: #f05a23;
    
}

.gfield_error input, .gfield_error select, .gfield_error textarea {
    
    border-bottom: 3px solid #f05a23 !important;
    color: #f05a23;
    
}

.gfield_error label {
    
    color: #f05a23;
    
}

.gfield_error input:not([type="submit"])::-webkit-input-placeholder, .gfield_error textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #f05a23;
}
.gfield_error input:not([type="submit"])::-moz-placeholder, .gfield_error textarea::-moz-placeholder { /* Firefox 19+ */
  color: #f05a23;
}
.gfield_error input:not([type="submit"]):-ms-input-placeholder, .gfield_error textarea:-ms-input-placeholder { /* IE 10+ */
  color: #f05a23;
}
.gfield_error input:not([type="submit"]):-moz-placeholder, .gfield_error textarea:-moz-placeholder { /* Firefox 18- */
  color: #f05a23;
}

.gform_confirmation_message {
    
    padding: 0 60px;
    font-size: 28px;
    color: #29abe1;
    font-weight: bold;
    text-align: center;
    padding-top: 180px;
	padding-bottom: 120px;
	
}

.gform_confirmation_message:before {
    
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '\e90a';
    margin-right: 30px;
}

.ginput_container_date .clear-multi {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.gfield_date_day {
    
    width: calc(25% - 30px)
    
}

.gfield_date_month {
    
    width: calc(25% - 30px)
    
}

.gfield_date_year {
    
    width: calc(50% - 30px)
    
}

.ginput_container_date label {
    
    margin-top: 15px;
    display: inline-block;
	display: none;

}

/* Progress */

.gf_page_steps {
    
    height: 90px;
    line-height: 90px;
    margin-top: -60px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: row;
    border-radius: 4px 4px 0 0;
    overflow: hidden;
    color: #ffffff;
    
}

div .light .gf_page_steps .gf_step:not(.gf_step_completed) span {

    color: #ffffff;

}



.gf_step {
    
    height: 100%;
    width: calc(100%/3);
    text-align: center;
    font-size: 20px;
    position: relative;
    
}

.gf_step:nth-child(2) .gf_step_label {
	
	padding-left: 30px;
	
}

.gf_step_label {
	
    position: relative;
    z-index: 2;
    height: 90px;
    display: flex;
    padding-left: 0;
    flex-direction: row;
    justify-content: center;
    margin-top: -90px;
    align-items: center;
	
}

.gf_step_number {
    
    display: none;
    
}

.gf_step.gf_step_active {
    
    background-color: #29abe1;
    color: #ffffff;
    
}

.gf_step.gf_step_pending {
    
    color: rgba(255,255,255,.35);
    
}

.gf_step_next.gf_step_pending {
    
    background-color: #326c85;
    
}

.gf_step_last.gf_step_pending {
    
    background-color: #353c42;
    
}

.gf_step_completed {
    
	background-color: #85bac5;
    color: #353c42;
    
}

.gf_step_completed:first-of-type {
	
    background-color: #b6d2d8;
	
}

.gf_step_completed .gf_step_label:after {
    
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '\e90a';
    margin-left: 15px;
    
}

.gf_step:nth-child(1):after {
    
    height: 90px;
    width: 90px;
    transform: rotate(45deg) skew(11deg,11deg);
    top: 0;
    right: -26px;
    background-color: inherit;
    content: '';
    position: absolute;
    z-index: 1;
}

.gf_step:nth-child(2):after {
    
    height: 90px;
    width: 90px;
    transform: rotate(45deg) skew(11deg,11deg);
    top: 0;
    right: -26px;
    background-color: inherit;
    content: '';
    position: absolute;
    z-index: 1;
    
}

.gform_previous_button, .gform_next_button {
    
    width: 50% !important;
    border-radius: 0 0 0 4px !important;
    
}

.form input[type="button"].gform_previous_button {
    
    background: transparent;
    background-color: #8ba5ab !important;
    z-index: 2;

}

.form input[type="button"] + input[type="button"]:hover, .form input[type="button"] + input[type="submit"]:hover, .form input.gform_previous_button:hover {

    transform: scale(1.15);
    z-index: 3;
    color: #ffffff !important;
    border-radius: 90px !important;

}


.gform_next_button, form:not(#gform_1):not(#gform_5) input[type="submit"] {

    right: 0 !important;
    left: auto !important;
	padding-right: 60px !important;
    justify-content: flex-end !important;
    border-radius: 0 0 4px 4px !important;
	width: 50% !important;

}

form:not(#gform_1):not(#gform_5) input[type="submit"]:hover {

    border-radius: 90px !important;

}

.gform_previous_button + .gform_next_button {
    
    border-radius: 0 0 4px 0 !important;
    
}



/* Upload */

.gfield.upload {
	
    width: 100%;
	margin-right: 0 !important;
	margin-left: 0 !important;
    
}

.ginput_container_fileupload {
	
	margin-top: 30px;
	margin-bottom: 30px;
	
}

.form input[type="button"].gform_button_select_files {
    
    width: auto;
    padding: 20px 1.7em;
    border-radius: 1.7em;
    position: relative;
	line-height: 1.2;
	height: auto;
    
}

.form .upload label {
	
	margin-bottom: 30px;
	
}

.gform_fileupload_multifile {
	
	padding: 15px;
	background-color: #dee7ea;
	border-radius: 4px;
    margin-bottom: 15px;
	
}

#gform_fields_5 .upload {
	
	margin-bottom: 0;
	
}


#extensions_message_3_13 {
	
	display: none;
	
}

.gform_drop_area {
    
    border: 5px dashed #8ba5ab;
	padding: 60px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    border-radius: 4px;
    
}

.gform_drop_instructions {
	
	margin-bottom: 20px;
    font-weight: bold;
	
}

.gform_drop_instructions:before {
	
  	font-family: 'icomoon' !important;
  	speak: none;
  	font-style: normal;
  	font-weight: normal;
  	font-variant: normal;
  	text-transform: none;
  	line-height: 1;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	content: '\e90d';
	font-size: 70px;
    display: block;
    text-align: center;
    margin-bottom: 20px;
	
}

.icon-download:before {
	
  	font-family: 'icomoon' !important;
  	speak: none;
  	font-style: normal;
  	font-weight: normal;
  	font-variant: normal;
  	text-transform: none;
  	line-height: 1;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	content: '\e90d';

	
}

.ginput_preview {
	
	margin-top: 10px;
	
}

.upload .validation-message {
	
	margin-top: 10px;
	
}

.upload .gfield_description {
	
	margin-top: 15px;
	
}

/* First page next buttons */

#gform_next_button_2_7,
#gform_next_button_4_1,
#gform_next_button_3_1
{
	
	width: 100% !important;
	
}

/* Wide Textarea last */

.gfield.contact-message,
.gfield.clients-business-description,
.gfield.careers-previous-description,
.gfield.clients-works
{
    
    width: 100% !important;
    margin-bottom: 0 !important;
	margin-left: 0 !important;
    margin-right: 0 !important;
	
}

/* Other last fields */

.gfield.clients-works,
.gfield.careers-dob,
.gfield.careers-gender,
.gfield.trades-ticket-upload,
.gfield.upload.cv,
.gfield.trades-nok-postcode,
.gfield.trades-nok-country,
.gfield.trades-bic,
.gfield.trades-iban,
.gfield.clients-method,
.gfield.clients-time
{
    
    margin-bottom: 0 !important;
    
}

.gfield.clients-works:first-of-type {
	
	margin-bottom: 60px !important;
	
}

/* Responsive menu */

nav button h6 {
	
	margin-right: 15px;
	font-size: 16px;
	margin-top: -7px;
	line-height: 60px;
	
}

#handle, nav button, nav button h6, .mobile nav {
	
	height: 60px;
	
}

.mobile nav .full {
	
	padding: 0 60px;
	
}

.hamburger-box {
	
	height: 100%;
	
}

.hamburger--spring .hamburger-inner {
	
	top: -13px;
	
}

#handle button {
	
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding-right: 30px;
	
}

body.mobile {
	
	margin-top: 60px;
	
}

body.open {
    
    overflow-y: hidden;
    
}

nav #handle {
	
	display: none;
	
}

.mobile nav #handle {
	
	display: flex;
	
}

.mobile nav img {
    
    height: 30px;
    
}

span.icon-car {
    
    transform: translateX(-700%);
    transition: all 1s cubic-bezier(.02,.76,0,.98);
    
}

span.in-view {
    
    transform: translateX(0);
    
}

.fade-reveal {
    
    opacity: 0;
	transition: all .2s ease-in-out, transform 1s cubic-bezier(.02,.76,0,.98), opacity .6s ease-in-out;
    
}

.fade-reveal.in-view {
    
    opacity: 1;
    
}

.left-reveal {
    
    transform: translateX(-20%);
    opacity: 0;
    transition: all .2s ease-in-out, transform 1s cubic-bezier(.02,.76,0,.98), opacity .6s ease-in-out;
    
}

.left-reveal.in-view {
    
    opacity: 1;
    transform: translateX(0);
    
}

.right-reveal {
    
    transform: translateX(20%);
    opacity: 0;
    transition: all .2s ease-in-out, transform 1s cubic-bezier(.02,.76,0,.98), opacity .6s ease-in-out;

    
}

.right-reveal.in-view {
    
    opacity: 1;
    transform: translateX(0);
    
}

.top-reveal {
    
    transform: translateY(-20%);
    opacity: 0;
    transition: all .2s ease-in-out, transform 1s cubic-bezier(.02,.76,0,.98), opacity .6s ease-in-out;
    
}

.top-reveal.in-view {
    
    opacity: 1;
    transform: translateY(0);
    
}

.bottom-reveal {
    
    transform: translateY(20%);
    opacity: 0;
    transition: all .2s ease-in-out, transform 1s cubic-bezier(.02,.76,0,.98), opacity .6s ease-in-out;
    
}

.bottom-reveal.in-view {
    
    opacity: 1;
    transform: translateY(0);
    
}

div .light span:not(.gf_step_number):not(.gf_step_label) {

    color: #353c42;

}

div .light .button:not(.wide-button) span {

    color: #ffffff;

}

div .dark span, div .gradient span {

    color: #ffffff;

}

.gradient {

    background: -webkit-linear-gradient(left, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    background: -o-linear-gradient(left, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    background: linear-gradient(to right, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29abe1', endColorstr='#f05a23',GradientType=1 );
    color: #ffffff;

}

.gradient .button:not(.wide-button) {

    color: #ffffff;
    transition: all .2s ease-in-out, transform 1s cubic-bezier(.02,.76,0,.98), opacity .6s ease-in-out;

}

.gradient .button:not(.wide-button) span {

    color: #ffffff;
    transition: all .2s ease-in-out, transform 1s cubic-bezier(.02,.76,0,.98), opacity .6s ease-in-out;

}

.gradient .button:not(.wide-button) span:before {

    color: #ffffff;
    transition: all .2s ease-in-out, transform 1s cubic-bezier(.02,.76,0,.98), opacity .6s ease-in-out;

}

.gradient .button:not(.wide-button):hover {

    color: #353c42;
    transition: all .2s ease-in-out, transform 1s cubic-bezier(.02,.76,0,.98), opacity .6s ease-in-out;

}

.gradient .button:not(.wide-button):hover span {

    color: #353c42;
    transition: all .2s ease-in-out, transform 1s cubic-bezier(.02,.76,0,.98), opacity .6s ease-in-out;

}

.gradient .button:not(.wide-button):hover span:before {

    color: #353c42;
    transition: all .2s ease-in-out, transform 1s cubic-bezier(.02,.76,0,.98), opacity .6s ease-in-out;

}

.light {

    background-color: #ffffff;
    color: #353c42;

}

.gradient h3.in-view,
.dark h3.in-view,
.light h3.in-view {

    opacity: .75;

}

.wide-article.light .full h2 {

    font-weight: normal;

}

/* Experimental

.sector.third.in-view, .offices .third.in-view {

    overflow: hidden;

}

.sector.third.in-view:hover, .offices .third.in-view:hover {

    transform: scale(1.2);
    border-radius: 130px;

}

.sector.third.in-view a:before, .offices .third.in-view a:before {

    border-radius: 4px;

}

.sector.third.in-view:hover .scrim, .offices .third.in-view:hover .scrim {

    border-radius: 130px;

}

.sector.third.in-view:hover a:before, .offices .third.in-view:hover a:before {

    border-radius: 130px;

}

*/

/* SVG Animations */

.checklist {

    position: absolute;
    top: 100px;
    right: 90px;
    width: 150px;
    height: auto;
    transition: all .2s ease-in-out, transform 1s cubic-bezier(.02,.76,0,.98), opacity .6s ease-in-out;
    display: none;

}

.checkmark {

    width: 75px;
    height: 60px;
    position: relative;
    transform: rotate( 225deg );

}

.checkmark .short {

    background-color: green;
    width: 25px;
    height: 7px;
    transform-origin: top right;
    opacity: 0;

}

.checkmark .long {

    background-color: green;
    width: 7px;
    height: 40px;
    transform-origin: top right;
    opacity: 0;

}

#checkmark-1 .short {

    animation: strokeshort .6s ease 1 forwards;

}

#checkmark-1 .long {

    animation: strokelong .4s .6s ease 1 forwards;

}

#checkmark-2 .short {

    animation: strokeshort .6s 1s ease 1 forwards;

}

#checkmark-2 .long {

    animation: strokelong .4s 1.6s ease 1 forwards;

}

#checkmark-3 .short {

    animation: strokeshort .6s 2s ease 1 forwards;

}
#checkmark-3 .long {

    animation: strokelong .4s 2.6s ease 1 forwards;

}

@keyframes strokeshort {

    0% { transform: scaleX(0); opacity: 0; }

    100% { transform: scaleX(100%); opacity: 1; }

}

@keyframes strokelong {

    0% { transform: scaleY(0); opacity: 0; }

    100% { transform: scaleY(100%); opacity: 1; }

}

@media screen and (max-width: 1366px) {
    
    .social .half .container span {
        
        font-size: 80px;
        
    }
    
    .offices .wide-button {
        
        font-size: 16px;
        
    }
	
	.full {
		
		width: 100%;
        padding: 60px !important;
		
	}
	
	.large .full {
		
		padding: 60px 180px 60px 60px !important;
		
    }
    
    .careers-advert.large .full {

		padding: 60px 60px 60px 180px !important;
        
    }
	
	.mobile nav .full {
		
		padding: 0 60px !important; 
		
	}
	
	.bar .full {
		
		padding: 30px 60px !important;
		
	}
	
	.credentials.bar .full {
		
		padding: 20px 60px !important;
		
	}
	
	nav .full {
		
		padding: 0 60px !important;
		
	}
	
	.social .half .container {
		
		width: 100%;
		
	}
	
	.careers-advert span.icon-car {
		
		left: 60px;
		
	}
	
	footer .menu-footer-menu-container {
		
		margin-left: 0;
		margin-right: 0;
		
	}
		
	.full .form {
		
		margin-left: 0;
		margin-right: 0;
		
	}
	
	.gfield:nth-child(odd),
	.gfield:nth-child(even) {
		
		width: 100%;
		margin-left: 0 !important;
		margin-right: 0 !important;
		margin-bottom: 30px;
		
	}
	
	.gf_step_label {
	
		line-height: 1;
		
	}
    
    .gfield:not(:last-of-type) {
        
        margin-bottom: 30px !important;
        
    }
    
    .gfield:last-of-type {
        
        margin-bottom: 0 !important;
        
    }
		
	.material-full {
		
		margin: 0;
		
	}
	
	
	.team span {
		
		top: 45px;
		font-size: 120px;
		right: 60px;
		
	}
	
	.team h2, .team h3 {
		
		padding-right: 20%;
		
	}
    
    .careers-advert span.icon-car {
        
        top: 80px;
        
    }
    
    .services-links span,
    .services-effective span,
    .services-clients-advert span
    {
        
        right: 60px;
        
    }

    .services-links span {

        top: 60px;

    }

    div.contact-phone span,
div.contact-email span,
.send-message span,
.send-timesheet span {
        
        right: 60px;
        
    }
    
}

@media screen and (max-width: 1024px) {

    footer .menu-footer-menu-container ul li.menu-item-31 a:before {

        left: 30px;

    }

    footer .menu-footer-menu-container ul li a:before {

        left: 30px;

    }

    footer .menu-footer-menu-container ul li a {

        padding: 0 30px 0 100px;

    }
    
    .gf_step_label {
        
        font-size: 16px;
        
    }
    
    .gf_step:not(:first-of-type) .gf_step_label {
        
        margin-left: 34px;
        
    }
    
    .social .half .container {

        padding: 60px;

    }

    .social .half:nth-child(even) .container {

        padding: 60px;

    }
    
    div.contact-email h2 {
        
        font-size: 36px;
        
    }
    
    div.contact-phone span,
div.contact-email span,
.send-message span,
.send-timesheet span {
        
        font-size: 80px;
        
    }
    
    .about-introduction,
    .sector:not(.third)
    {
		
		padding: 360px 60px 60px 60px;
		
	}
	
	.half-image {
		
		width: 100%;
		height: 300px;
		
	}

	.form-adverts.flex-container {
		
		flex-wrap: wrap;
		
	}
	
	.form-advert {
    
		width: 100%;
		margin-right: 0 !important;
		margin-left: 0 !important;
		margin-bottom: 60px;

    }
	
	.form-advert:last-child {
		
		margin-bottom: 0;
		
	}
	
	.sectors-advert .full {
		
		padding-left: 33% !important;
		
	}
    
    .offices.flex-container {
        
        flex-wrap: wrap;
        
    }
    
    .offices .third {
    
        width: 100%;
        margin-right: 0;
        margin-bottom: 60px;
        
    }
    
    .offices .third:last-of-type {
        
        margin-bottom: 0;
        
    }
    
    

	
}

@media screen and (max-width: 800px) {
    
    #main:not(.home) .sector {
        
        margin-bottom: 30px;
        
    }
        
    .social .half .container {

        padding: 30px;

    }

    .social .half:nth-child(even) .container {

        padding: 30px;

    }
        
    .offices .third {
        
        margin-bottom: 30px;
        
    }
    
    
	.full {
		
		padding: 30px !important;
		
	}
	
	
	.large .full {
		
		padding: 60px 120px 60px 30px !important;
		
    }
    
    .careers-advert.large .full {

		padding: 60px 30px 60px 120px !important;
        
    }
	
	.bar .full {
		
		padding: 30px !important;
		
	}
	
	.credentials.bar .full {
		
		padding: 20px 30px !important;
		
	}
	
	.mobile nav .full  {
		
		padding: 0 30px !important;
		
	}
	
	.form-advert {
		
		margin-bottom: 30px;
		
	}
	
	.sectors-advert span {
		
		left: 60px;
		
	}
	
	.sector.third {
		
		margin-right: 30px;
		
	}
	
	.sector.third a {
		
		padding: 30px;
		font-size: 16px;
		
    }
    
    .offices .third {

        padding: 30px 30px 90px 30px;

    }
	
	footer .menu-footer-menu-container ul li {
		
		width: 100%;
		
    }
    
    .full .form {

        padding-bottom: 120px;

    }

    .wide-button {

        padding-left: 30px;

    }
	
	.gform_body {
		
		padding: 0 30px;
		
	}
	
	.gf_page_steps {
		
		margin-bottom: 30px;
		
	}
    
    .careers-advert span.icon-car {
        
        right: 30px;
        font-size: 50px;
        
    }   
    
    .careers-advert h2 {
        
        padding-left: 0;
        padding-top: 100px;
        
    }
    
    .gf_page_steps {
        
        display: none; 
        margin-bottom: 0 !important;
        
    }
    
    .full .form {
        
        padding-top: 30px;
        
    }
    
    input:not([type="submit"]):not([type="button"]), textarea, select {
        
        font-size: 23px;
        
    }
    
    .form input[type="submit"], .form input[type="button"] {
        
        padding-left: 30px !important;
        padding-right: 30px !important;
        
    }
    
    .title span {
        
        font-size: 60px;
        
    }
    
    .gfield_date_day {
        width: calc(25% - 15px);
    }
    
    .gfield_date_month {
        width: calc(25% - 15px);
    }
    
    .gfield:not(:last-of-type) {
        
        margin-bottom: 30px !important;
        
    }
    
    .gfield:last-of-type {
        
        margin-bottom: 0 !important;
        
    }
	
	.team h2, .team h3 {
		
		padding-right: 30%;
		
	}
    
	.team span {
		
		top: 70px;
		font-size: 80px;
		right: 30px;
		
	}
	
	.wide-article .full {
		
    	padding: 60px 30px !important;
		
	}
	
	.about-introduction,
    .sector:not(.third)
    {
		
		padding: 330px 30px 30px 30px;
		
	}
    .services-links span,
    .services-effective span
    {
        
        right: 30px;
        font-size: 80px;
        
    }
    
    .services-clients-advert span {
        
        right: 30px; 
        font-size: 120px;
        
    }
    
    div.contact-phone span,
div.contact-email span,
.send-message span,
.send-timesheet span {
        
        right: 30px;
        top: 30px;
        font-size: 60px;
        
    }
    
    .social {
        
        flex-wrap: wrap;
        
    }
    
    .social .half {
        
        width: 100%;
        
    }
    .social .half:nth-child(even) .container span {
        
        left: 30px;
        
    }

    .form-advert .wide-button {

        padding-left: 60px;

    }
    
    footer .menu-footer-menu-container ul li {
		
		width: calc((100% - 5px)/2);
		
	}


}

@media screen and (max-width: 600px) {
    
    div.contact-email h2 {
        
        font-size: 30px;
        
    }
    
}

@media screen and (max-width: 500px) {
    
    #main:not(.home) .sector {
        
        margin-bottom: 15px;
        
    }

    .social .half .container {

        padding: 15px 30% 15px 15px;
        
    }
    
    .social .half:nth-child(even) .container {
        
        padding: 15px 15px 15px 30%;

    }
    
    .social .half .container span {
        
        font-size: 40px;
        
    }
    
	h2 {
		
		font-size: 36px;
		
	}
    
    div.contact-phone span,
    div.contact-email span,
    .send-message span,
    .send-timesheet span {
        
        right: 15px;
        top: 30px;
        font-size: 40px;
        
    }
    
    div.contact-email h2, div.contact-phone h2 {
        
        font-size: 18px;
        
    }

    div.contact-email h3, div.contact-phone h3 {
        
        font-size: 14px;
        
    }

	
    a.button {
        
		font-size: 16px !important;	
		
	}
	
	.full {
		
		padding: 15px !important;
		
    }
	
	.large .full {
		
		padding: 60px 60px 60px 15px !important;
		
    }

    .full .form {

        padding-bottom: 75px;

    }
    
    .careers-advert.large .full {

		padding: 60px 15px 60px 60px !important;
        
    }
	
	.large {
		
		padding: 0;
		
	}
	
	.mobile nav .full {
		
		padding: 0 15px !important;
		
	}
	
	nav a h6 {
		
		font-size: 16px;
		margin-right: 15px;
		
	}
	
	nav img {
		
		height: 50px;
	}
	
	.bar .full {
		
		flex-direction: column;
		padding: 30px 15px;
		
	}
	
	.bar .button {
		
		margin-left: 0;
		margin-top: 15px;
		width: 100%;
		
	}
	
	.form-advert {
		
		padding-bottom: 90px;
		margin-bottom: 15px;
		
	}
	
	.form-advert h2 {

		font-size: 28px;
		margin-left: 30px;
		margin-top: 30px;
		padding-right: 135px;

	}

	.form-advert h3 {

		font-size: 20px;
		margin-left: 30px;
		margin-top: 15px;
		padding-right: 30px;

	}

	.form-advert span {

		top: 30px;
		right: 30px;
		font-size: 50px;

	}
	
	.wide-button {
		
		padding-left: 15px;
		
	}
		
	.sectors-advert span {
		
		left: 45px;
		font-size: 60px;
		
	}
	
	.flex-container {
		
		flex-wrap: wrap !important;
		
	}
	
	.third {
		
		margin-right: 0 !important;
		width: 100% !important;
		
	}
	
	.third:not(:last-of-type) {
		
		margin-bottom: 15px !important;
		
	}

	.third a {
		
		font-size: 20px !important;
		
	}
	
	.services-advert p,
	.careers-advert p
	{
		
		width: 100%;
		margin: 0;
		
	}
	
	.services-advert h3,
	.careers-advert h3
	{
		
		margin-top: 15px;
		margin-bottom: 15px;
		
	}
	
	.services-advert a,
	.careers-advert a
	{
		
		margin-top: 15px;
		
	}
    
    .careers-advert span.icon-car {
        
        right: 15px;
        font-size: 40px;

        
    }
	
	footer .menu-footer-menu-container ul li {
		
		height: 60px;
		
	}
	
	footer .menu-footer-menu-container ul li a {

		padding: 0 30px 0 100px;
        border-radius: 60px;

    }
	
	footer .menu-footer-menu-container ul li.menu-item-31 a:before,
	footer .menu-footer-menu-container ul li a:before {
		
		left: 30px;
		top: 10px;
		
	}
	
	.credentials.bar .full {
		
		padding: 20px 15px !important;
		
	}
	
	.gform_body {
		
		padding: 0 15px;
		
	}

    #hero-image h1, h1 {
        
        font-size: 32px;
        
    }
    
    #hero-image h2, h2 {
        
        font-size: 26px;
        
    } 
    
    h3 {
        
        font-size: 23px;
        
    }

    h4 {

        font-size: 22px;

    }

    h5 {

        font-size: 21px;

    }
    
    h6 {

        font-size: 19px;

    }
    
    input:not([type="submit"]):not([type="button"]), textarea, select {
        
        font-size: 16px;
        
    }
    
    .form input[type="submit"], .form input[type="button"] {
        
        padding-left: 15px !important;
        padding-right: 15px !important;
        
    }
    
    .full .form {
        
        padding-top: 15px;
        
    }
    
    .title span {
        
        font-size: 40px;
        
    }

    .gfield_date_day {
        width: calc(25% - 7px);
    }
    
    .gfield_date_month {
        width: calc(25% - 7px);
    }
    
    .gfield:not(:last-of-type) {
        
        margin-bottom: 15px !important;
        
    }
    
    .gfield:last-of-type {
        
        margin-bottom: 0 !important;
        
    }
    
	.team span {
		
		top: 50px;
		right: 15px;
		
	}
	
	.international-image h2 {
		
		font-size: 36px;
		
	}
	
	.wide-article .full {
		
    	padding: 45px 15px !important;
		
	}
	
		
	.about-introduction,
    .sector:not(.third)
    {
		
		padding: 315px 15px 15px 15px;
		
	}
    
    .services-links span,
    .services-effective span
    {

        right: 15px;
        font-size: 60px;
        
    }
    
    .services-clients-advert span {
        
        right: 15px;
        font-size: 80px;
        
    }

    .offices .third {
        
        padding: 15px;
        padding-bottom: 75px;
        
    }
    
    .form input[type="submit"], .form input[type="button"] {

        border-radius: 0;
        font-size: 16px;
        position: absolute;
        width: 100%;
        height: auto;
        line-height: 1;
        bottom: 0;
        left: 0;
        justify-content: flex-start;
        padding: 20px 15px;

    }

    .form-advert .wide-button {

        padding-left: 30px;

    }

    footer .menu-footer-menu-container ul li {
		
		width: 100%;
		
    }
    
    footer .menu-footer-menu-container ul li.menu-item-31 a:before {

        font-size: 30px;
        top: 15px;

    }

    footer .menu-footer-menu-container ul li a:before {

        font-size: 30px;
        top: 15px;

    }

}

@media screen and (max-height: 600px) {
    
    aside {
        
        justify-content: flex-start;
        
    }
    
}

/* Splash Modal */

.splash {
    position: fixed;
    padding-top: 60px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: -webkit-radial-gradient(50% 50%, ellipse closest-corner, rgba(0,0,0,0.5) 1%, rgba(0,0,0,0.9) 100%);
    background: -moz-radial-gradient(50% 50%, ellipse closest-corner, rgba(0,0,0,0.5) 1%, rgba(0,0,0,0.9) 100%);
    background: -ms-radial-gradient(50% 50%, ellipse closest-corner, rgba(0,0,0,0.5) 1%, rgba(0,0,0,0.9) 100%);
    background: radial-gradient(50% 50%, ellipse closest-corner, rgba(0,0,0,0.5) 1%, rgba(0,0,0,0.9) 100%);
    transition: all .5s ease-in-out;
}

.splash video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.splash .splash__overlay {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b350873f', endColorstr='#b3f08218',GradientType=0 );
    background: -webkit-linear-gradient(
 left,
 rgba(41, 171, 225, 0.7) 0%,
 rgba(240, 90, 35, 0.7) 100%
 );
    background: -o-linear-gradient(
 left,
 rgba(41, 171, 225, 0.7) 0%,
 rgba(240, 90, 35, 0.7) 100%
 );
    background: linear-gradient(
 to right,
 rgba(41, 171, 225, 0.7) 0%,
 rgba(240, 90, 35, 0.7) 100%
 );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29abe1', endColorstr='#f05a23',GradientType=1 );
}

.splash.splash--hidden {
    opacity: 0;
    visibility: hidden;
}

.splash .full {
    width: 100%;
    max-width: 1366px;
}

.splash .material {
    padding: 10vh 60px;
    margin-right: 60px;
    border-radius: 16px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out,
    transform 1s cubic-bezier(0.02, 0.76, 0, 0.98), opacity 0.6s ease-in-out;
    opacity: 1;
    background-color: rgba(255,255,255,.67);
}

.splash .material:hover, .splash .material:focus {
    background-color: rgba(255,255,255,1);
    transform: scale(1.15);
}

.splash .material:active {
    transform: scale(1);
}

.splash.splash--hidden .material {
    opacity: 0;
}

.splash .material:last-of-type {
    margin-right: 0;
}

.splash .material img {
    max-width: 100%;
    max-height: 150px;
}

body.body--splash, html.body--splash {
    overflow-y: hidden;
}

.menu-main-menu-container, #handle {
    transition: all .2s ease-in-out;
}

body.body--splash .menu-main-menu-container, body.body--splash #handle {
    opacity: 0;
}

@media screen and (max-width: 600px) {
    .splash .full.flex-container {
        flex-direction: column;
    }
    .splash .material {
        padding: 60px;
        margin-right: 0;
        margin-bottom: 30px;
        max-height: 33vh;
    }
    .splash .material:last-of-type {
        margin-bottom: 0;
    }
    .splash .material img {
        max-height: 15vh;
    }
}

/* Loader */

.loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 4;
    background-color: rgba(255,255,255,1);
    transition: all 0.6s ease-in-out,
    transform 0.6s cubic-bezier(0.02, 0.76, 0, 0.98),
    opacity 0.6s ease-in-out;
}

.loader .full {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader .full img {
    width: 33vw;
    height: 33vw;
    max-width: 200px;
    max-height: 200px;
    animation-name: loader__icon;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    opacity: 0;
    transition: transform 0.6s cubic-bezier(0.02, 0.76, 0, 0.98),
      opacity 0.6s ease-in-out;
    transform: scale(0.75);
}

.loader.loader--loaded {
    opacity: 0;
    visibility: hidden;
}

.loader.loader--loaded .full img {
    opacity: 0;
}

@keyframes loader__icon {
  0% {
    opacity: 0;
    transform: scale(0.75);
  }
  25% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.75);
  }
}

/* Default page styles */

.default-page h1 {
    font-size: 35px;
}

.default-page h2 {
    font-size: 30px;
}

.default-page ul {
    padding-left: 1em;
}

.default-page h2,
.default-page p,
.default-page ul {
    margin-top: 1em;
    margin-bottom: 1em;
    max-width: 800px;
}

.default-page li {
    line-height: 1.5;
}

footer .credentials.bar .full a {
    color: rgba(255,255,255,.67);
    text-align: right;
}
footer .credentials.bar .full a:hover {
    color: rgba(255,255,255,1);
}
@media screen and (max-width: 500px) {
    .credentials.bar .full {
        align-items: flex-start;
    }
    footer .credentials.bar .full a {
        text-align: left;
        margin-top: 0.67em;
    }
}